<div id="movie" data-role="view" data-title="Movie" data-show="app.theaters.movie" > 
    <header data-role="header">
        <div data-role="navbar">
            <a id="back-button" class="nav-button" data-align="left" data-role="backbutton">Back</a>
            <span data-role="view-title"></span>
        </div>
    </header>

    <div id= "fmovie" ></div>
    
    <!--Footer-->
    <footer data-role="footer">
        <div data-role="tabstrip">
            <a href="#home-view" data-icon="home">Home</a>
            <a href="views/upcoming-view.html#upcoming-view" data-icon="mostviewed">Upcoming</a>
            <a href="views/theaters-view.html#theaters-view" data-icon="organize">In theaters</a>
            <a href="views/places-view.html#places-view" data-icon="search">Search</a>
            <a href="views/places-view.html#places-view" data-icon="camera">Capture</a>
        </div>
    </footer>  
</div>